table {  
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
}

td, th {
    border: 1px solid #CCC;
    height: 30px;
    text-align: center;
 }

thead {  
    background: Blue;
    font-weight: bold;
    color: White;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

div#main{
    text-align: center;
    margin: 0 auto;
}
div#delete{
    background-color: RED;
}
.button{
  background-color: red;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
    
}
.button1{
    background-color: white; 
    color: black; 
    border: 2px solid red;
}
.button1:hover{
    background-color: red;
    color: white;
}
.button2{
    background-color: white;
    color: black;
    border: 2px solid green;
}
.button2:hover{
    background-color: green;
    color: white;
}
.button3{
    background-color:white;
    color: black;
    border: 2px solid black;   
}
.button3:hover{
    background-color: white;
    color: white;
}
.container{
    height: 200px;
    position: relative;
    border: 3px solid green;
}
body{
    width: 500px; /* how wide to make your web page */
    margin: 0 auto;
    padding: 0;
    font:12px/16px Helvetica, sans-serif; /* default font */
    
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
